table,
th,
td {
  border: 0.1px groove rgba(0, 0, 0, 0.459);
}
th {
  font-weight: 400;
  background: #8a97a0;
  color: #FFF;
}
tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}
tr:nth-child(even) {
  background: #e8eeef;
}
img {
  width: 100%;
  height: 200px;
}
nav.welcome {
  background-color: #f2f2f2;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  margin: 10px;
}
nav h1 {
  color: #96858f;
}
nav h1:hover {
  color: white;
  background-color: black;
}
body {
  background-color: #D5D5D5;
}
th,
td {
  text-align: left;
  padding: 20px;
  font-weight: 300;
}
tfoot tr {
  background: none;
}
tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}
nav#dropdown {
  display: none;
}
ul {
  list-style: none;
  margin-top: auto;
}
li {
  text-decoration: none;
}
li a {
  text-decoration: none;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
div.flexStore {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}
div.flexStore .store {
  background-color: #faf4fc;
  overflow: hidden;
  padding: 20px;
  margin: 3px;
  border-style: groove;
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
div.flexStore .store #storeName {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #e97474;
  font-size: 20px;
  margin-top: -15px;
  margin-bottom: 10px;
}
div.flexStore .store #storeDescription {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 200px;
  border-radius: 6px;
  padding: 2px;
  background-color: rgba(151, 135, 135, 0.404);
}
div.flexStore .store #storePrice {
  color: #6464c0;
  border-style: solid;
  border-color: white;
  background-color: white;
  border-radius: 6px;
}
div.flexStore .store #storeBuy a {
  color: white;
  text-decoration: none !important;
  line-height: 40px;
  color: #6dc96d;
  font-size: 30px;
}
div.flexStore .store #storeBuy a:hover {
  color: #2f772f;
}
a#proposal {
  display: none;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.904);
  color: white;
  text-decoration: none;
}
a#proposal:hover {
  color: salmon;
}
#myCart {
  padding: 20px;
  border-radius: 5px;
  color: white;
  font-size: 30px;
  margin-top: 20px;
  background-color: #8a97a0;
}
#cart {
  justify-content: space-around;
}
#cartCenter {
  text-align: center;
  text-decoration: none;
}
#cartCenter a#cartPlusA {
  padding: 20px;
  font-size: 20px;
  display: center;
  text-decoration: none;
  font-style: normal;
  border-style: ridge;
  color: #9494f3;
}
#cartCenter a#cartPlusA:hover {
  color: #60a060;
}
#cartCenter a#cartPlusA #cartPlus {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
}
.feedbacks {
  margin: 10px;
  padding: 30px;
  border-style: ridge;
}
form#formFeedback {
  background-color: #f6f9fa;
  width: 50%;
  display: inline-block;
  border-radius: 15px;
}
.feedbacks .feedbacksName {
  display: flex ;
  color: #949386;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.feedbacks .feedbacksComment {
  display: inline-block;
  width: 60%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.feedbacks #nameFeedback {
  font-weight: bold;
  color: black;
}
div#feedbackCount {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
div#feedbackCount span#feedbackNumber {
  color: #eeafaf;
}
.feedbackPage {
  color: lightgreen;
}
#popupRed {
  background-color: lightcoral;
  border-radius: 3px;
  text-align: center;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
#popupGreen {
  background-color: lightgreen;
  border-radius: 3px;
  text-align: center;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
a#aButton {
  text-decoration: none !important;
  line-height: 20px;
  color: #000;
}
#aButton {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: auto;
  max-width: 150px;
  border-radius: 35px;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid currentColor;
  text-align: center;
  color: #98a0cc;
  font-size: 13px;
}
#aButton span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #868fc3;
  -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}
#aButton:hover {
  color: #e1e3f0;
}
#aButton:hover span {
  width: 225%;
  height: 562.5px;
  position: absolute;
  z-index: 0;
}
@media screen and (max-width: 813px) {
  /*
  code for narrow screen goes in here.
   */
  * {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
  }
  #imgHeader {
    display: none;
  }
  #bttRemove {
    color: red;
    width: 40px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
  }
  #bttRemove:hover {
    color: #d8a7a7;
  }
  #storeImg > img {
    justify-content: center;
    width: 150px;
    height: 100px;
  }
  .boxLogin {
    display: inline-block;
  }
  .login {
    padding: 2px;
    border: 2px  solid white;
    width: 300px;
    background-color: white;
    border-radius: 6px;
  }
  div.btt:focus {
    color: lightgreen;
  }
  span.signup {
    width: 150px;
    display: inline-block;
    background-color: rgba(151, 13, 151, 0.712);
  }
  span.signup:hover {
    background-color: lightblue;
  }
  .signup {
    display: block;
    color: black;
    margin-top: 4px;
    font-size: 12px;
    border-radius: 3px;
  }
  .loginInput {
    width: 150px;
    margin: 2px;
    height: 15px;
  }
  .submitbt {
    width: 150px;
    font-size: 12px;
    border-radius: 3px;
    background-color: lightsteelblue;
  }
  .submitbt:hover {
    background-color: lightblue;
    border-radius: 4px;
  }
  nav.welcome {
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 15px;
    margin: 10px;
  }
  nav h1:hover {
    background-color: #e6e1c9;
  }
  nav#single-nav {
    float: none;
    text-align: left;
    width: 100%;
    margin: 0;
    height: 0;
    overflow: hidden;
    transition: 700ms ease;
    position: absolute;
  }
  nav#single-nav.open {
    height: 260px;
    border-radius: 2px;
  }
  nav#dropdown {
    font-size: 2.3em;
    color: rgba(0, 0, 0, 0.904);
    cursor: pointer;
  }
  .welcome h1 {
    color: #4b4348;
    font-weight: bold;
  }
  .icon {
    font-size: 1em;
    margin-top: 2.2px;
    display: none;
  }
  #single-nav ul {
    margin-top: 1px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.904);
    font-size: 20px;
  }
  #single-nav ul li a {
    padding: 10px;
    color: #fff;
    border-bottom: 1px solid #404040;
    display: block;
    margin: 0;
  }
  ul.mobileUL {
    display: flex;
    justify-content: space-around;
  }
  .selectLog {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.904);
    width: 100%;
  }
  .selectLog:hover {
    background-color: lightsteelblue;
    cursor: pointer;
  }
  .iconMobile {
    color: white;
    margin-top: 3px;
  }
  .btt {
    color: white;
    margin-top: 3px;
  }
  #single-nav ul li:nth-child(1):hover {
    background-color: #191a1b;
    text-decoration: none;
  }
  #single-nav ul li:nth-child(2):hover {
    background-color: #191a1b;
  }
  #single-nav ul li:nth-child(3):hover {
    background-color: #191a1b;
  }
  #single-nav ul li:nth-child(4):hover {
    background-color: #191a1b;
  }
  #single-nav ul li:nth-child(5):hover {
    background-color: #191a1b;
  }
  #single-nav a {
    color: white;
  }
}
.container {
  display: inline-block;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
a.aHovers {
  text-decoration: none;
  font-weight: bold;
  color: lightsalmon;
}
a.aHovers:hover {
  color: red;
}
@media screen and (min-width: 814px) {
  /*
code for wide screen goes in here.
*/
  #navCart {
    display: grid;
  }
  .boxLogin {
    display: inline-block;
  }
  .login {
    padding: 2px;
    border: 2px  solid white;
    width: 300px;
    background-color: white;
    border-radius: 6px;
  }
  .loginInput {
    width: 150px;
    margin: 2px;
    height: 15px;
  }
  .signupA {
    text-decoration: none;
    display: flex;
    justify-content: center;
    height: 20px;
  }
  .signup {
    display: block;
    margin-top: 4px;
    font-size: 12px;
    width: 158px;
    background-color: lightsteelblue;
    text-decoration: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    background-color: #ac78ac;
  }
  .signup:hover {
    background-color: lightblue;
    border-radius: 4px;
  }
  .signup:hover {
    background-color: lightpink;
  }
  .submitbt {
    width: 158px;
    background-color: lightsteelblue;
    text-decoration: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
  }
  .submitbt:hover {
    background-color: lightblue;
    border-radius: 4px;
  }
  #proposal {
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.904);
    display: none;
    color: white;
    text-decoration: none;
  }
  #proposal:hover {
    color: salmon;
  }
  .cartPage {
    color: lightgreen;
  }
  .icon {
    font-size: 1.2em;
    margin-top: 3px;
  }
  #single-nav ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.904);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -4px;
  }
  #single-nav ul li:nth-child(1):hover {
    background-color: #191a1b;
    text-decoration: none;
  }
  #single-nav ul li:nth-child(2):hover {
    background-color: #191a1b;
  }
  #single-nav ul li:nth-child(3):hover {
    background-color: #191a1b;
  }
  #single-nav ul li:nth-child(4):hover {
    background-color: #191a1b;
  }
  #single-nav ul li:nth-child(5):hover {
    background-color: #191a1b;
  }
  #single-nav a {
    color: white;
  }
  #single-nav li {
    flex: 1 0 auto;
    text-align: center;
  }
  .infos {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  ul.mobileUL {
    display: flex;
    justify-content: space-around;
  }
  .selectLog {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.904);
    width: 100%;
  }
  .selectLog:hover {
    background-color: lightsteelblue;
    cursor: pointer;
  }
  .iconMobile {
    color: white;
    margin-top: 3px;
  }
  a.aHovers {
    text-decoration: none;
    font-weight: bold;
    color: lightsalmon;
  }
  a.aHovers:hover {
    color: red;
  }
  #arrows {
    display: none;
  }
  .btt {
    color: white;
    margin-top: 3px;
  }
  #bttRemove {
    color: #e97474;
    width: 40px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
  }
  #bttRemove:hover {
    color: #d8a7a7;
  }
  #storeImg > img {
    justify-content: center;
    width: 150px;
    height: 100px;
  }
}
