
<ul>
    <li>
        <a href="index.php">
        <div class="icon">
            <i class="fa fa-home"></i>
        </div>
            <div class ="bt">Home</div>
        </a>
    </li>
    <li>
        <a href="aboot.php">
        <div class="icon">
            <i class="fas fa-question-circle"></i>
        </div>
            <div class ="bt">About</div>
        </a>
    </li>

    <li>
        <a href="html/contact.php">
            <div class="icon">
                <i class="fas fa-phone-square"></i>
            </div>
            <div class ="bt">Contact</div>
        </a>
    </li>
    <li>
        <a href="html/jobs.php">
            <div class="icon">
                <i class="far fa-building"></i>
            </div>
            <div class ="bt">Jobs</div>
        </a>
    </li>
    <li><a href="html/userpanel.php">
        <div class="icon">
            <i class="far fa-user"></i>
        </div>
        <div class ="bt">User Panel</div>
    </a>
    </li>
</ul>